*,
::after,
::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

$colors: (
  primary: #333,
  secondary: #555,
  brand: #ff0033,
  pinker: #f90f90,
);

// task-1

.task-1 {
  padding: 100px 0 0 0;
  margin-bottom: 100px;
  .block {
    &-wrapper {
      display: flex;
      @each $key, $value in $colors {
        .block-item.#{$key} {
          background: $value;
        }
      }
    }
    &-item {
      width: 25%;
      min-height: 100px;
    }
  }
}

// task-2

.task-2 {
  margin-bottom: 100px;
  .random {
    &-balls {
      display: flex;
      flex-wrap: wrap;
    }
    &-ball {
      width: 12px;
      height: 12px;
      background-color: #ccc;
      margin: 5px;
      border-radius: 50%;
    }

    @for $num from 0 through 500 {
      &-ball:nth-child(#{$num}) {
        background-color: rgb(random(255), random(255), random(255));
      }
    }
  }
}

// task-3

.task-3 {
  margin-bottom: 100px;

  .star-sky {
    min-height: 400px;
    background: #000;
    position: relative;
    overflow: hidden;
  }

  .star {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #fff;
  }

  @for $num from 0 through 700 {
    .star:nth-child(#{$num}) {
      top: random(400) + px;
      right: random(1200) + px;
    }
  }
}

// task-4

.task-4 {
  margin-bottom: 100px;
  .hue-round {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    @for $hue from 0 through 360 {
      background: conic-gradient(
        from #{$hue}deg,
        red,
        orange,
        yellow,
        green,
        cyan,
        blue,
        magenta
      );
    }
  }
}

// task-5

@mixin random-rgba {
  background-color: rgba(random(255), random(255), random(255), random(100)/100%);
}

.task-5 {
  margin-bottom: 100px;
  .block {
    &-item {
      height: 20px;
      @for $i from 0 to 1000 {
        &:nth-child(#{$i}) {
          @include random-rgba;
        }
      }
    }
  }
}

// task 6

@mixin animated-border($color, $width, $style: null) {
  border: {
    color: $color;
    width: $width;
  }

  @if $style == null {
    $style: inherit;
  } @else {
    border-style: $style;
  }
}

.task-6 {
  margin-bottom: 100px;

  .btn {
    min-width: 200px;
    padding: 20px 40px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    &:hover {
      @include animated-border(red, 2px, dashed);
    }
  }
}

// task-7

.task-7 {
  margin-bottom: 100px;
  .card-wrapper {
    width: 250px;
    height: 350px;
    border: 2px solid gray;
    transform-style: preserve-3d;
    perspective: 1000;
    position: relative;
    margin-bottom: 100px;
    .card {
      transform-style: preserve-3d;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: transform 0.7s ease;
      position: absolute;
      &:hover {
        transform: rotate3d(0, 1, 0, 180deg);
      }
      .front {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: rotateY(0deg);
        background-color: red;
      }

      .back {
        width: 100%;
        height: 100%;
        background-color: yellow;
        transform: rotateY(-180deg);
      }
    }
  }

  .cuber-wrapper {
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 1000;
    .cube {
      width: 300px;
      height: 300px;
      position: relative;
      transform-style: preserve-3d;
      perspective: 5000px;
      transition: transform 1s ease;
      &:hover {
        transform: rotateX(-98deg);
      }
      &-1,
      &-2,
      &-3,
      &-4,
      &-5,
      &-6 {
        width: 100%;
        height: 100%;
        position: absolute;
      }

      &-1 {
        top: 0;
        left: -150px;
        background-color: blue;
        transform: rotate3d(0, 1, 0, 90deg);
      }
      &-2 {
        top: 0;
        right: -150px;
        background-color: yellow;
        transform: rotate3d(0, 1, 0, 90deg);
      }
      &-3 {
        bottom: -150px;
        right: 0;
        background-color: pink;
        transform: rotate3d(1, 0, 0, 90deg);
      }
      &-4 {
        top: -150px;
        right: 0;
        background-color: gray;
        transform: rotate3d(1, 0, 0, 90deg);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &-5 {
        top: 0;
        right: 0;
        background-color: magenta;
        transform: rotate3d(0, 1, 0, 360deg) translate3d(0, 0, 150px);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &-6 {
        top: 0;
        right: 0;
        background-color: red;
        transform: rotate3d(0, 1, 0, 0deg) translate3d(0, 0, -150px);
      }
    }
  }
}

//task-8

.task-8 {
  margin-bottom: 100px;
  .rotated-cards {
    margin-top: 100px;
    min-height: 400px;
    display: flex;
    transform-style: preserve-3d;
    perspective: 3000px;
    .card {
      width: 300px;
      height: 350px;
      background-color: aqua;
      margin-right: 40px;
      transform: rotateY(60deg);
      transform-style: preserve-3d;
      perspective: 900px;
      position: relative;
      transition: transform 0.7s ease;
      border: 2px solid #000;
      &:hover {
        transform: rotateY(0deg);
      }
      &-subcard {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateZ(60px);
        width: 150px;
        background-color: orange;
        box-shadow: 0px 0px 65px 0px rgba(34, 60, 80, 0.62);
        height: 255px;
      }
    }
  }
}

//task-9

.task-9 {
  margin-top: 100px;
  margin-bottom: 100px;
  .bubbles-wrapper {
    min-height: 550px;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    @for $i from 0 through 200 {
      .bubble:nth-child(#{$i}) {
        $width: random(100 / 1) + px;
        $height: $width;
        $x: random(1200);
        $y: random(1200);
        @include random-rgba;
        position: absolute;
        width: $width;
        height: $height;
        border-radius: 50%;
        top: $y + px;
        left: $x + px;
        @keyframes move {
          from {
            top: $y - px;
            left: $x - px;
          }

          50% {
            top: $y - px;
            left: $x + px;
          }

          to {
            top: $y - px;
            right: $x - px;
          }
        }
        animation: move 20s linear 0s infinite;
      }
    }
  }
}
